# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Kernel module files
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
*.o.cmd
*.symvers
*.order

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
